{{#if @showModal}}
<div class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-50">
  <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>
  <ModalDialog
    class="modal-container bg-white w-11/12 md:max-w-md mx-auto rounded shadow-lg z-50 overflow-y-auto"
    @onClose={{@onClose}}
    @onEscape={{@onClose}}
    as |modal|
  >
    <div class="p-6 bg-slate-800 radius-2 border border-3 border-white">
      <div class="grid text-slate-200 grid-cols-4 grid-flow-row gap-1">
        <div class="col-span-full">
          <h2 class="uppercase text-3xl font-bold text-center w-full">Settings</h2>
        </div>
        <div class="settings-box-4 flex">
          <Select @options={{this.wordFinder.keyboardTypeOptions}} value={{this.wordFinder.keyboard}} @selected={{this.wordFinder.keyboard}} @setSelected={{this.setSelected}} {{on "change" this.selectKeyboard}} /> 
          <div class="mt-2 ml-2">keyboard style</div>
        </div>
        
        {{!-- <div class="settings-box-4">
          <Toggle {{on "input" (fn this.toggleSetting "autoExclude" true)}} @id="autoExclude" @checked={{this.wordFinder.autoExclude}}>automatically exclude letters</Toggle>
        </div> --}}
        <div class="settings-box-4">
          <Toggle {{on "input" (fn this.toggleSetting "sortAlpha" true)}} @id="alphabetical" @checked={{this.wordFinder.sortAlpha}}>sort alphabetically</Toggle>
        </div>
        <div class="settings-box-4">
          <Toggle {{on "input" (fn this.toggleSetting "useCommon" true)}} @id="commonWords" @checked={{this.wordFinder.useCommon}} >show only common words</Toggle>
        </div>
        <div class="settings-box-4">
          <Toggle {{on "input" (fn this.toggleSetting "showWordInfo" false)}} @id="showWordInfo" @checked={{this.wordFinder.showWordInfo}} >show word info</Toggle>
        </div>
        <div class="settings-box-4">
          <Toggle {{on "input" (fn this.toggleSetting "showLetterInfo" false)}} @id="showLetterInfo" @checked={{this.wordFinder.showLetterInfo}} >show letter info</Toggle>
        </div>
        <div class="col-span-4">
          <button type="button" class="button-blue mt-3" {{on "click" modal.close}}>
            Close
          </button>
        </div>
      </div>
    </div>
  </ModalDialog>
</div>
{{/if}}