<div 
   {{on "click" (fn this.clickShowData)}}
   {{on "touchstart" (fn this.touchShowData true)}}
   {{!-- {{on "mouseenter" (fn this.hoverShowData true)}}
   {{on "mouseleave" (fn this.hoverShowData false)}}
   {{on "touchend" (fn this.touchShowData false)}} --}}
  class={{concat "p-2 text-center uppercase select-none no-touch-callout" (if this.isCommon "cursor-help ") this.wordClass}}>
    {{@word}}
</div>
