{{page-title "WordleFinder"}}

<div class="text-4xl sm:text-6xl my-4 mx-auto uppercase font-black text-slate-200">
    <div class="text-center h-10 sm:h-auto flex flex-nowrap place-content-center cursor-default overflow-hidden" {{on "click" this.toggleSpin}}>
        <div class="pr-3">Wordle</div>
        <div id="title-slot" 
            class="text-slot intro"
            title={{this.title}}
            {{this.initFinder}}
        >{{this.title}}</div>
    </div>
</div>
<div class="fixed top-2 left-2 scale-150">
    <button type="button" {{on "click" this.toggleSettings}}>⚙️</button></div>
<section class="container mx-auto px-4 mt-4">
    {{#if this.wordFinder.isReady}}
        <div class="grid grid-cols-1 gap-1 sm:gap-2">
            <div class="grid grid-cols-5 place-items-center w-3/4 sm:w-3/5 md:w-1/2 mx-auto">
                <Tray @name="1" @id="good0" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.good0Letters}} class="tray-single good-border" />
                <Tray @name="2" @id="good1" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.good1Letters}} class="tray-single good-border" />
                <Tray @name="3" @id="good2" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.good2Letters}} class="tray-single good-border" />
                <Tray @name="4" @id="good3" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.good3Letters}} class="tray-single good-border" />
                <Tray @name="5" @id="good4" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.good4Letters}} class="tray-single good-border" />
            </div>
            <Tray @name="found" @id="bad" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.badLetters}} class="tray-group tray-half bad-border" />
        </div>
        <div>
            <Tray @id="start" @wordFinder={{this.wordFinder}} @letters={{this.wordFinder.trayLetters}} class="tray-group tray-full" >
                <div class="lg:col-end-12 md:col-end-10 sm:col-end-8 col-end-6 col-span-2 mt-3 flex">
                    <div class="m-2">
                        <button type="button" class="button-blue" {{on "click" this.wordFinder.reset}}>Reset</button>
                    </div>
                    <div class="pt-6">
                        {{this.startLetterLength}}
                    </div>
                </div>
            </Tray>
            <div class="col-span-full justify-content-center text-center row-span-full mb-6">
                    {{#unless this.wordFinder.lettersPlaced}}
                        <h3 class="text-green-600 opacity-80 animate-pulse animate-bounce">
                        ☝️ drag some letters up!☝️
                        </h3>
                    {{/unless}}
                    <h3 class="text-green-600 opacity-80">
                        👉 ↩️ &nbsp; click to exclude letters, click again to return to tray
                    </h3>
                </div>
        </div>
        {{#if this.wordFinder.getPossibleWords.isRunning}}
            <div class="flex mx-auto text-green-400 text-center text-4xl font-black uppercase animate-pulse">Processing {{this.processWordCount}} possible words...</div>
        {{/if}}
        <div class="text-slate-400 text-2xl w-full text-center uppercase flex justify-center"><div class="text-slate-500 font-black px-2">{{this.wordFinder.possibleWordCount}}</div> <div class="px-2">Possible Words</div></div>
        {{#if this.wordFinder.possibleWords}}
            <div class="word-container grid grid-flow-row lg:grid-cols-8 md:grid-cols-6 grid-cols-4 auto-rows-fr gap-x-6 border-orange-400 border-solid border-4 text-gray-400" ...attributes>
                {{#each this.wordFinder.possibleWords as |word|}}
                    <Word @wordFinder={{this.wordFinder}} @word={{word}} />
                {{else}}
                    
                {{/each}}
            </div>
            {{#if this.debug}}
                <div class="word-container">
                    <div class="text-orange-800 p-2">
                        {{#each this.wordFinder.lettersPlaced as |letter|}}
                           <span class="is-dragging-object">{{letter.name}}</span>
                        {{/each}}
                    </div>
                </div>
                <div class="hidden">
                    <div class="letter-good-bg letter-bad-bg letter-dead-bg letter-start-bg"></div>
                </div>
            {{/if}}
        {{else}}
            <div class="word-container relative text-gray-800">
                <div class="py-2 text-lg text-center w-full opacity-30">
                    {{this.wordContainerMessage}}
                </div>

            </div>
        {{/if}}
    {{else}}
        <div class="container text-center mt-12 text-green-500 text-2xl animate-pulse">
            ...Building Word List
        </div>
    {{/if}}
    <Settings @wordFinder={{this.wordFinder}} @showModal={{this.showSettings}} @onClose={{this.toggleSettings}} />
</section>
{{outlet}}